.navigation-wrapper { 
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    
}
body {
    margin: 0px; 

    font-family: 'Roboto Mono', monospace;


}

.banner-image img {
    width: 216px;
    height: 100%; 
}





